@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700&family=Josefin+Sans:ital,wght@0,600;1,300;1,400&family=Lexend+Deca&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,700;0,800;1,400&family=Rubik:ital,wght@0,400;0,500;1,300&display=swap');
:root{
--purple:hsl(259, 100%, 65%);
--light-red: hsl(0, 100%, 67%);
--white:hsl(0, 0%, 100%);
--off-white:hsl(0, 0%, 94%);
--light-gray:hsl(0, 0%, 86%);
--smokey-gray:hsl(0, 1%, 44%);
--off-black:hsl(0, 0%, 8%);

}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: var(--off-white);
 min-height: 100vh;
 font-family: "Poppins",sans-serif;
}
.container{
  background-color: var(--white);
  padding:30px 80px 20px 30px;
 border-radius: 18px 18px 100px 18px; 
 
   
}
.dob-form{
    display: flex;
}

.form-group>input{
    display: block;
    width: 100px;
    height: 40px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.form-group>input:hover{
  border-color: var(--purple);
}
.form-group input[type=number]{
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  
}
.form-group > label{
  font-size: 9px;
  
  color: var(--smokey-gray);
  letter-spacing: 2px;
}
.form-group > :placeholder-shown{
  font-size: 22px;
  padding: 10px;
  color: var(--smokey-gray);
  font-weight: bold;
  opacity: 0.8;
}

.check-button{
margin-top: 34px;
margin-bottom: 20px;
}
.underline{
border-bottom: 1px solid var(--light-gray);
position: relative;
width: 400px;

}
 button{
  position: absolute;
  top: -27px;
  right: -50px;
  border: none;
  border-radius: 99999px;
  padding: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.underline button{
  background-color: var(--purple);
}
.underline button>img{
  width: 30px;
}
.underline button:hover{
  background-color: black;
}
.dob-calculator{
  font-size: 60px;
  font-style: italic;
  font-weight: 900;
 
}
.dob-calculator span{
  margin-right: 2px;
  color: var(--purple);
}
.showerror,.showerror2,.showerror3{
  color: rgba(255, 0, 0, 0.486);
  font-size: 8px;
  margin-top: 5px;
}

@media screen and (max-width:550px){
 body{
  display: flex;
    justify-content: center;
    align-items: center;
 
 }
  .container{
    width: 300px;
    height: 300px;
  }
  button{
    position: absolute;
    top: -20px;
    left: 95px;
    width: 40px;
    height: 40px;
  }
  .underline button>img{
    width: 20px;
  }

  .underline{
    width: 220px;
  }
  .dob-calculator{
    font-size: 30px;
    
  }
  .form-group>input{

    width: 60px;
    height: 30px;
   
}
.form-group input[type=number]{
  font-size: 15px;

}
  
}